name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup R
      uses: r-lib/actions/setup-r@v2
    - name: Setup Pandoc
      uses: r-lib/actions/setup-pandoc@v2
    - name: Cache R packages
      uses: actions/cache@v4
      with:
        path: ${{ env.R_LIBS_USER }}
        key: ${{ runner.os }}-r-${{ hashFiles('DESCRIPTION') }}-${{ hashFiles('**/DESCRIPTION') }}
        restore-keys: ${{ runner.os }}-r-
    - name: Install packages
      uses: r-lib/actions/setup-r-dependencies@v2  # Magico: cache + binaries veloci
      with:
        packages: any::rmarkdown, any::knitr, any::png, any::ggplot2, any::dplyr, any::kableExtra, any::readxl, any::haven, any::xlsx, any::Hmisc, any::GGally, any::olsrr, any::ROCR, any::animation, any::tidyr, any::RColorBrewer, any::readr
    - name: Render site
      shell: Rscript {0}
      run: rmarkdown::render_site()
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./docs/
    - name: Deploy
      id: deployment
      uses: actions/deploy-pages@v4
